body {
    margin: 0;
    padding: 0;
    background: radial-gradient(to top left, #3498db 0%, #faf7f6 100%);
    background-attachment: fixed; /* This keeps the background fixed while scrolling */
    background-size: 100% 100%;
 
}


#image-form {
    margin: 20px;
}

#image-output {
    margin: 20px;
    max-width: 100%;
    max-height: 300px;
}
